*.egg-info/
__pycache__/
point_e_model_cache/
.ipynb_checkpoints/
.DS_Store
/env
*.png
# *.json
*.txt
/plot_data
/old
*g.json
*c.json
*0.json
*p.json
base300M-img.json
base40M-img.json
base40M-textvec.json
*.out